<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="#/" class="logo">
            <span class="symbol"><img src="images/logo.png" alt=""/></span><span class="title">Bouquet.io</span>
        </a>
        <!-- Nav Icon -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>
    </div>
    <nav id="menu">
        <div class="inner">
            <h2>Menu</h2>
            <ul>
                <li><a href="#/">Home</a></li>
                <li><a href="#/generic">Generic</a></li>
                <li><a href="#/elements">Elements</a></li>
            </ul>
        </div>
        <a class="close" href="#">Close</a>
    </nav>
</header>